img {
  width: 70%;
  height: 80%;
  max-width: 300px;
  max-height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;
  float: right;
}

body {
  background-color: #88e05f;
}

#contents {
  background-color: white;
}

#booyah {
  display: none;
  background-color: yellow;
}
